---
import MenuIcon from "@lucide/astro/icons/menu";

import ThemeToggle from "@/components/layout/ThemeToggle.astro";
import AppLogo from "@/components/ui/AppLogo.astro";
import Link from "@/components/ui/Link.astro";

import { NAV_LINKS } from "@/consts/navigation";
import { SOCIALS } from "@/consts/social";

const { pathname } = Astro.url;
---

<header
  id="navbar"
  class="fixed w-full top-0 z-50 transition-all duration-300 border-b border-transparent bg-background md:backdrop-blur-sm"
>
  <div class="page py-3 flex justify-between items-center">
    <AppLogo loading="eager" />

    <nav
      class="hidden md:flex"
      aria-label="Navegación principal"
    >
      <ul class="flex items-center gap-2">
        {
          NAV_LINKS.map((link) => (
            <li>
              <Link
                href={link.url}
                variant="navbar"
                active={link.url == pathname}
              >
                {link.name}
              </Link>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="flex grow justify-end md:grow-0 gap-1 [&>nav]:gap-1">
      <nav
        aria-label="Redes sociales"
        class="flex"
      >
        {
          SOCIALS.map((item) => (
            <Link
              href={item.url}
              variant="icon"
              aria-label={item.label}
            >
              <item.image />
            </Link>
          ))
        }
      </nav>
      <ThemeToggle />
    </div>

    <button
      id="menu-btn"
      aria-label="Abrir/cerrar menú"
      class="text-muted p-2 md:hidden focus:outline-none [&>svg]:size-5.5"
    >
      <MenuIcon />
    </button>
  </div>

  <nav
    id="mobile-menu"
    aria-label="Navegación principal móvil"
    class="absolute hidden top-full left-0 w-full bg-background border-b border-border p-6 flex-col gap-2 md:hidden animate-flip-in-y animate-duration-300"
  >
    {
      NAV_LINKS.map((link) => (
        <Link
          href={link.url}
          variant="navbar"
          class="text-lg"
        >
          {link.name}
        </Link>
      ))
    }
  </nav>
</header>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");
  const navbar = document.getElementById("navbar");

  // Toggle mobile menu
  menuBtn?.addEventListener("click", () => {
    const isOpen = mobileMenu?.classList.contains("flex");

    if (isOpen) {
      mobileMenu?.classList.replace("animate-flip-in-y", "animate-flip-out-y");

      setTimeout(() => {
        mobileMenu?.classList.replace("flex", "hidden");
      }, 300);
    } else {
      mobileMenu?.classList.replace("hidden", "flex");
      mobileMenu?.classList.replace("animate-flip-out-y", "animate-flip-in-y");
    }
  });

  // Close menu when click a link
  const links = mobileMenu?.querySelectorAll("a");
  links?.forEach((link) => {
    link.addEventListener("click", () => {
      mobileMenu?.classList.add("hidden");
    });
  });

  // Scroll effect
  window.addEventListener("scroll", () => {
    if (window.scrollY > 40) {
      navbar?.classList.add(
        "border-border!",
        "md:bg-background/70",
        "shadow-sm",
      );
    } else {
      navbar?.classList.remove(
        "border-border!",
        "md:bg-background/70",
        "shadow-sm",
      );
    }
  });
</script>
