---
import MenuIcon from "@lucide/astro/icons/menu";

import ThemeToggle from "@/components/layout/ThemeToggle.astro";
import AppLogo from "@/components/ui/AppLogo.astro";
import Link from "@/components/ui/Link.astro";

import { NAV_LINKS } from "@/consts/navigation";
import { SOCIALS } from "@/consts/social";

const { pathname } = Astro.url;
---

<header
  id="navbar"
  class="fixed w-full top-0 z-50 transition-[border-color] border-b border-transparent bg-background md:backdrop-blur-sm"
>
  <div class="page py-3 flex justify-between items-center">
    <AppLogo loading="eager" />

    <nav
      class="hidden md:flex"
      aria-label="Navegación principal"
    >
      <ul class="flex items-center gap-2">
        {
          NAV_LINKS.map((link) => (
            <li>
              <Link
                href={link.url}
                variant="navbar"
                active={link.url == pathname}
                aria-current={link.url === pathname ? "page" : null}
              >
                {link.name}
              </Link>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="flex grow justify-end md:grow-0 gap-1 [&>nav]:gap-1">
      <ul
        aria-label="Redes sociales"
        class="flex"
      >
        {
          SOCIALS.map((item) => (
            <li>
              <Link
                href={item.url}
                variant="icon"
                aria-label={item.label}
              >
                <item.image />
              </Link>
            </li>
          ))
        }
      </ul>
      <ThemeToggle />
    </div>

    <button
      id="menu-btn"
      class="text-muted p-2 md:hidden focus:outline-none [&>svg]:size-5.5"
      aria-controls="mobile-menu"
      aria-expanded="false"
      aria-haspopup="true"
      aria-label="Abrir menú navegación"
    >
      <MenuIcon />
    </button>
  </div>

  <nav
    id="mobile-menu"
    aria-label="Navegación principal"
    class="absolute hidden top-full left-0 w-full bg-background border-b border-border p-6 md:hidden animate-flip-in-y animate-duration-300"
  >
    <ul class="flex flex-col gap-2 text-center w-full">
      {
        NAV_LINKS.map((link) => (
          <li>
            <Link
              href={link.url}
              variant="navbar"
              class="text-lg"
            >
              {link.name}
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  import { $, addClass, replaceClass } from "@/lib/dom";

  let scrollHandler: () => void;

  document.addEventListener("astro:page-load", () => {
    const menuBtn = $("#menu-btn") as HTMLButtonElement;
    const mobileMenu = $("#mobile-menu") as HTMLElement;
    const navbar = $("#navbar") as HTMLElement;

    // Toggle mobile menu
    menuBtn?.addEventListener("click", () => {
      const isOpen = mobileMenu?.classList.contains("flex");
      const isExpanded = menuBtn.getAttribute("aria-expanded") === "true";

      menuBtn.setAttribute("aria-expanded", String(!isExpanded));
      menuBtn.setAttribute(
        "aria-label",
        isExpanded ? "Abrir menú navegación" : "Cerrar menú navegación",
      );

      if (isOpen) {
        replaceClass(mobileMenu, "animate-flip-in-y", "animate-flip-out-y");

        setTimeout(() => {
          replaceClass(mobileMenu, "flex", "hidden");
        }, 300);
      } else {
        replaceClass(mobileMenu, "hidden", "flex");
        replaceClass(mobileMenu, "animate-flip-out-y", "animate-flip-in-y");
      }
    });

    // Close menu when click a link
    const links = mobileMenu?.querySelectorAll("a");

    links?.forEach((link) => {
      link.addEventListener("click", () => {
        addClass(mobileMenu, "hidden");
      });
    });

    // Scroll effect
    scrollHandler = () => {
      if (window.scrollY > 40) {
        navbar?.classList.add(
          "border-border!",
          "md:bg-background/70",
          "shadow-sm",
        );
      } else {
        navbar?.classList.remove(
          "border-border!",
          "md:bg-background/70",
          "shadow-sm",
        );
      }
    };

    window.addEventListener("scroll", scrollHandler);
  });

  document.addEventListener("astro:before-swap", () => {
    window.removeEventListener("scroll", scrollHandler);
  });
</script>
