---
import "@/styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { SITE } from "@/consts/config";

interface Props {
  title: string;
  description: string;
  noindex?: boolean;
}

const { title, description, noindex = true } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>{title} - {SITE.titleSuffix}</title>
    <meta
      name="description"
      content={description}
    />
    <link
      rel="canonical"
      href={canonicalURL}
    />
    <meta
      name="robots"
      content={noindex
        ? "noindex, nofollow"
        : "index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"}
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <link
      rel="sitemap"
      href={new URL("sitemap-index.xml", Astro.site)}
    />
    <Font
      cssVariable="--font-playfair"
      preload
    />
    <Font
      cssVariable="--font-inter"
      preload
    />
    <script is:inline>
      const setTheme = () => {
        const theme = localStorage.getItem("theme");
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;

        if (theme === "dark" || (!theme && prefersDark)) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      };

      setTheme();

      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-1 bg-background flex flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
