---
import { Image } from "astro:assets";

import { INTERNAL_URLS } from "@src/config/navigation";

import darkLogo from "@src/assets/images/logo/logo-dark.png";
import lightLogo from "@src/assets/images/logo/logo-light.png";

interface Props {
  loading?: "eager" | "lazy";
}

const { loading = "lazy" } = Astro.props;
---

<a href={INTERNAL_URLS.home}>
  <div class="h-7 w-auto">
    <Image
      src={lightLogo}
      alt="Ir al inicio"
      class="h-full w-auto dark:hidden"
      loading={loading}
    />
    <Image
      src={darkLogo}
      alt="Ir al inicio"
      class="hidden h-full w-auto dark:block"
      loading={loading}
    />
  </div>
</a>
