---
import { Image } from "astro:assets";

import type { ImgLoading, SVG } from "@/types";

interface Props {
  name: string;
  light: SVG;
  dark?: SVG | null;
  size?: "default" | "lg";
  loading?: ImgLoading;
}

const { dark, light, loading = "lazy", name, size = "default" } = Astro.props;

const sizes = {
  default: {
    height: 14,
    imgClass: "h-3.5",
    containerClass: "text-xs py-1",
  },
  lg: {
    height: 16,
    imgClass: "h-4",
    containerClass: "text-sm md:px-3 py-1.5",
  },
};

const { containerClass, height, imgClass } = sizes[size];
---

<li
  class:list={[
    "font-medium tracking-wide text-muted flex items-center gap-1.5 px-2",
    "rounded-lg border border-border bg-primary/5 dark:bg-muted/10",
    containerClass,
  ]}
>
  {
    dark ? (
      <>
        <Image
          src={light}
          alt=""
          class:list={[imgClass, "w-auto dark:hidden"]}
          height={height}
          loading={loading}
        />
        <Image
          src={dark}
          alt=""
          class:list={[imgClass, "w-auto hidden dark:block"]}
          height={height}
          loading={loading}
        />
      </>
    ) : (
      <Image
        src={light}
        alt=""
        class:list={[imgClass, "w-auto"]}
        height={height}
        loading={loading}
      />
    )
  }
  {name}
</li>
